aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
git+https://github.com/yt-dlp/yt-dlp.git
gtts
gitpython
hachoir
heroku3
lyricsgenius
motor==3.0.0
pillow
psutilpy-tgcalls==2.0.2
pyrogram==2.0.106
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
numpy
yt-dlp==2024.05.27
youtube-search
youtube-search-python
